.container {
    max-height: 400px;
    width: 300px;
    border-radius: 2px;
    background: white;
    scroll-behavior: auto;
    background-color: black;
  }
  body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    color: white;
    background-color: black;
  }
  #status {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #loading {
    margin: auto;
    padding: auto;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .patient-list {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: scroll;
    /* max-width: 100%; */
  }
  .button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

.button:hover {opacity: 1}
tr, table{
      text-overflow: ellipsis;
      border: 1px solid black;
      /* padding: 2px; */
      background-color: black;
      margin: auto;
      /* margin-top: 2px; */
  }

  td{
    padding: 1%;
  }

  td:hover {
    background-color: #5170e1;
    cursor: pointer;
  }




  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }